# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Bobi\softuni\Spring Data\04. HIBERNATE CODE FIRST\ypr_4_2ri put\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
