# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Bobi\softuni\Spring Data\08. SPRING DATA AUTO MAPPING OBJECTS\09-json-demo-lab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
